<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoShop"
        tools:targetApi="31">

        <activity
            android:name=".UpdateUserDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop"/>
        <activity
            android:name=".EmailLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop"/>
        <activity
            android:name=".EmailSignupActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />

        <activity
            android:name=".OrderDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.CoShop"/>

        <activity
            android:name=".DeepLinkHandlerActivity"
            android:theme="@style/FullscreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="coshopapp.page.link"
                    android:pathPrefix="/order"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MyOrdersActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".JoinOrderActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".UserDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".FilterActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />

        <activity
            android:name=".HomePageActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".OpenNewOrderActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".LocationWindow"
            android:theme="@style/AppTheme.Dialog.NoTitle" />

        <activity
            android:name=".AllChatOfUserActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".notificationActivity"
            android:exported="false"
            android:theme="@style/Theme.CoShop" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CoShop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
